$colorBg: #282828;
$colorBg0: #1d2021;
$colorBg1: #3c3836;
$colorBg2: #504945;
$colorBg3: #665c54;
$colorBg4: #7c6f64;
$colorContent: #eee;
$colorContent_: #ebdbb2;
$colorContent0: #fbf1c7;
$colorContent1: #d5c4a1;
$colorContent2: #bdae93;
$colorContent3: #a89984;
$colorRed: #cc241d;
$colorRed0: #fb4934;
$colorGreen: #98971a;
$colorGreen0: #b8bb26;
$colorGreen1: #8dcc17;
$colorYellow: #d79921;
$colorYellow0: #fabd2f;
$colorBlue: #458588;
$colorBlue0: #83a598;
$colorPurple: #b16286;
$colorPurple0: #d3869b;
$colorAqua: #689d6a;
$colorAqua0: #8ec07c;
$colorOrange: #d65d0e;
$colorOrange0: #fe8019;
$colorGray: #928374;
$colorGray0: #a89984;

@mixin fontDefault() {
  font-family: sans-serif;
  font-weight: 400;
}
