h1,
h2 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
}

.button {
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 10px;
  background-color: $colorBg1;
  cursor: pointer;

  &:hover {
    background-color: $colorBg2;
  }
}
